#content.container
  %h1 #{@channel_name}
  %h2 #{Date::MONTHNAMES[@month]} #{@year}
  %ol.calendar
    - if @date.month != @month 
      %li#prev-month
        %ol
          - until @date.month == @month 
            %li= @date.day
            - @date += 1

    %li#this-month
      %ol
        - until @date.month != @month
          - if @dates.include?(@date) 
            %li.clickable{:data => {:location => channel_log_uri(@channel, @date)}}= @date.day
          - else 
            %li= @date.day
          - @date += 1

    - if @date.wday != 0 
      %li#next-month
        %ol
          - until @date.wday == 0 
            %li= @date.day
            - @date += 1
  :javascript
    $('.clickable').click(function() {
      window.location=$(this).attr('data-location');
      return false;
    });
